version: '3.7'

services:

  scm:
    container_name: scm
    image: scmmanager/scm-manager:latest
    ports:
    - "8081:8080"
    # if the ssh plugin is used
    - "2222:2222"
    volumes:
    - ${PWD}/scm/.data:/var/lib/scm
